/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 21, 2018, 11:06:16 AM
    Author     : james
*/

@font-face{
    font-family: "BigNoodleToo";
    src: url("CSS/Fonts/BigNoodleToo.ttf");
}

*{
    margin:0;
    padding:0;
}

body {
    background-image:url("../Images/Overwatch.jpg");
    background-size:cover;
}
/*deals with the entire webpage*/
#content{
    border: 2px solid black;
    width: 70%;
    background-color: #f99e1a;
    margin: 24px auto;
    font-size: 17px;
}

#bugs{
    padding: 20px;
}


nav{
     font-family: Arial;
     width:100%;
     height: 55px;
     background-color: #f99e1a;
}

/*deals with uppermost header on the page*/
#header{
    border-width: 2px;
    border-style:solid;
    background-color: #43484c;
    text-align: center;
    color:white;
    
}

/*deals with the creation of the navigation menu incorporated into each page*/
nav ul{   
    float:left;
}
nav ul li{
    list-style: none;
    border: none;
    line-height: 55px;
    text-align: center;
    float:left;
}

nav ul li a{
    font-size: 17px;
    color:black;
    padding: 0px 22px;
    display:block;
    text-decoration: none;
}

/*Roles page functionality starts here*/
#RDrop{
    width: 100%;
}

#gam{
    border-width: 2px;
    border-style:solid;
    background-color: greenyellow;
}
#roltxt{
   width: 100%;
}
#sbmtrol{
    margin:  10px 374px;
    padding: 12px 90px;
    font-size: 16px;
}
/*for the stats page*/
#txtr{
    width: 300px;
    margin: auto;
}

#sbmtstat{
    margin:  10px 40px;
    padding: 12px 90px;
    font-size: 16px;
}
/*sets aside the size margins for fields in the login page*/

.column2{
    width: 100%;
    height: 100%;
}

#login{
    border: 2px solid black;
    border-style: solid;
    height:30%;
    width: 40%;
    margin: 220px auto;
    font-size: 17px;
}

label{
    display:inline-block;
    font-size: 20px;
    width: 200px;
   
}

/*distance from label to dropdown*/
#old2{
    display:inline-block;
    width: 7em;

}

/*distance from label to text field*/
#old{
    display:inline-block;
    width: 7em;
}

/*length of text field and dropdown menu*/
#olduse{
    width: 278px;
}
#new{
    width: 278px;
}

#sbmtuse{
  margin:0 145px;
  padding: 10px 24px;
  width: 278px;
}


/*styled ending at the end of each page*/
footer{
    clear:both;
    border-top: 2px solid black;
    color:black;
}

